.home-page {
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: calc(100vw - 100px);
    margin-left: 100px;
    overflow-y: hidden;
    font-family: 'Inter', sans-serif;
}

.page-title {
    top: 10px;
    vertical-align: middle;
    padding-top: 0.8rem;
    padding-left: 2.5rem;
    font-size: xx-large;
    font-weight: bold;
}

.content-container {
    background-color:#11234b;
    flex: 1;
    display: flex;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    flex-direction: row;
    width: 100%;
}

.study-card-container {
    max-width: 63rem;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 1rem;
    background-color: #051537;
    flex: 3;
    margin-right: 1rem;
}

.stats-container {
    border-radius: 1rem;
    border: 0.5px solid rgba(240, 248, 255, 0.308);
    flex: 1;
    padding: 1rem 2rem;
    width: 100%;
    background-color: pink;
}

.chart-container{
    padding:1rem;
    min-height: 200px;
    background-color: firebrick;
}

.chart-legend-container{
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    gap:0.5rem;
}

    .legend-details-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: purple;
    }

        .legend-colour{
            flex:1;
        }

        .legend-label{
            flex:3;
            text-align: start;
        }

        .legend-percentage{
            flex:1;
        }

.nav-bar {
    background-color: #11234b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    top: 0;
}

.home-buttons {
    padding-top: 1rem;
}

.btn-home {
    
    border-radius: 2rem;
    border: 0.5px solid rgba(240, 248, 255, 0.308);
    background-color: #203364;
    margin-right: 2.5rem;
}