.live-battle-page {
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    left: 0;
    top: 0;
}

.live-nav-bar {
    width: 100%;
    background-color: aquamarine;
}

.live-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.live-ranking {
    width: 20%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.live-flashcard-container {
    background-color: thistle;
    width: 70%;
    height: 100%;
}
