.profile-page {
    background-color: #11234b;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: calc(100vw - 100px);
    position: relative;
    margin-left: 100px;
    color: #ffffff;
}

.profile-nav-bar {
    width: 100%;
    padding: 1rem;
}

.profile-title {
    font-weight: 700;
    font-size: 2.5rem;
    text-align: start;
}

.profile-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.profile-info-container {
    flex:1;
    height: 100%;
    gap: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-width: 250px;
}

.user-profile-container{
    background-color: #051537;
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: 1rem;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

.profile-pic-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #051537;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.username-display h2 {
    margin: 0;
    color: #ffffff;
    font-size: 1.2rem;
}

.user-details-container{
    padding: 2.5rem 1rem;
    align-items: center;
}

.user-info-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding:0.5rem 0;
}

.user-details-label{
    color: rgba(255,255,255,0.45);
    font-size: smaller;

}

.profile-stats {
    flex:4;
    height: 100%;
    box-sizing: border-box;
    border-radius:1rem;
    border: 1px solid #d4e5ff;
    padding:1rem;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-stats-label{
    flex:1;
    align-self: start;
    font-weight: 700;
    font-size: 1.25rem;
}

.user-chart-container{
    flex:5;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.4);
}

.user-statistics-progress{
    flex:4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: violet;
}

.statistics-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1rem;
    width: 100%;
    background-color: rgb(170, 64, 170);
}

.progress-bar-label{
    flex: 1;
}

.progress-bar-container{
    flex:4;
}

@media (max-width: 768px) {
    .profile-content {
      flex-direction: column;
    }
    .profile-info-container, 
    .profile-stats {
      flex: none;
      width: 100%;
      height: auto;
    }
  }