.study-set-card {
    min-width: 13rem;
    border-radius: 1rem;
    background-color: #182849;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    width: 150px;
    position: relative;
    margin: 1rem;
}

.card-overlay {
    display: flex;
    justify-content: flex-end;
    right: 0;
    position: absolute;
    top: 0;
}

.card-btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.card-btn:focus {
    outline: none;
}

.card-btn:active {
    outline: none;
    border: none;
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-title h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: white; 
    padding: 0.5rem;
}

.title-line {
    width: 90%;
    height: 1px;
    background-color: #333e57;
    margin: 0 auto;
}

.flashcard-count {
    font-size: 14px;
    color: white; 
    margin-top: 8px; 
    padding: 0 1rem;
}