.study-set-card {
    min-width: 13rem;
    border-radius: 1rem;
    background-color: #182849;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    width: 150px;
    position: relative;
    margin: 1rem;
}

.card-overlay {
    display: flex;
    justify-content: flex-end;
    right: 0;
    position: absolute;
    top: 0;
}

.card-btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.card-btn:focus {
    outline: none;
}

.card-btn:active {
    outline: none;
    border: none;
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-title h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: white; 
    padding: 0.5rem;
}

.title-line {
    width: 90%;
    height: 1px;
    background-color: #333e57;
    margin: 0 auto;
}

.detail-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 0 0.5rem;
}

.flashcard-count {
    font-size: 14px;
    color: white; 
    margin-top: 8px; 
    padding: 0 0.5rem;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
}

.copy-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    transition: background-color 0.2s;
}


    .copy-btn:hover {
        background-color: #3a4d6b;
    }

    .copy-btn:focus {
        outline: none;
        border: none;
    }


.copy-icon {
    color: #fff;
    font-size: 18px;
}

.copy-message {
    font-size: 14px;
    color: green;
    margin-left: 8px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.copy-message.show {
    opacity: 1;
}